//{
//  "extends": [
//    "airbnb-base",
//    "plugin:react/recommended",
//    "plugin:jest/recommended",
//    "prettier"
//  ],
//  "plugins": ["babel", "import", "jsx-a11y", "react", "prettier"],
//  "parser": "@babel/eslint-parser",
//  "parserOptions": {
//    "ecmaVersion": 8,
//    "requireConfigFile": false,
//    "sourceType": "module",
//    "babelOptions": {
//      "presets": ["@babel/preset-react"]
//    },
//    "ecmaFeatures": {
//      "jsx": true,
//      "modules": true,
//      "experimentalObjectRestSpread": true
//    }
//  },
//  "rules": {
//    "prettier/prettier": "error",
//    "no-console": "off", // airbnb использует предупреждение
//    "no-alert": "error", // airbnb использует предупреждение
//    "no-plusplus": "off",
//    "import/no-unresolved": "off",
//    "max-len": ["error", { "ignoreUrls": true, "ignoreRegExpLiterals": true }],
//    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
//    "react/react-in-jsx-scope": "off",
//    "arrow-body-style": "off",
//    "prefer-arrow-callback": "off",
//    "import/prefer-default-export": "off",
//    "react/prop-types": "off"
//  },
//  "env": {
//    "browser": true,
//    "node": true,
//    "jest": true,
//    "es6": true
//  }
//}
