.profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__wrapper {
  box-sizing: border-box;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding-top: 144px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
}

.profile__header {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .profile__wrapper {
    max-width: 470px;
    padding-top: 310px;
    padding-bottom: 16px;
  }
}

@media (min-width: 1280px) {
  .profile__wrapper {
    padding-top: 148px;
    padding-bottom: 96px;
  }
}
