.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 80px;
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__item:not(:first-child) {
  margin-top: 24px;
}

.form__item:last-of-type {
  margin-bottom: 100px;
}

.form__label {
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.form__field {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-radius: 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #E8E8E8;
  margin-top: 6px;
}

.form__field:focus {
  outline: none;
  border-color: #FF6838;
}

.form__field_type_error {
  color: #EE3465;
}

.form__field-error {
  position: absolute;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  transform: translateY(100%);
  bottom: -6px;
}

.form__submit {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF6838;
  border-radius: 3px;
  border: none;
  padding: 15px 30px;
  margin-top: auto;
  transition: opacity 1s;
  cursor: pointer;
}

.form__submit:hover {
  opacity: .6;
}

.form__submit:disabled {
  background-color: #F5F5F5;
  color: #000000;
}

.form__cta {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #A0A0A0;
  margin-top: 14px;
  margin-bottom: 0;
}

.form__cta-link {
  color: #FF6838;
  text-decoration: none;
  margin-left: 7px;
  transition: opacity 1s;
}

.form__cta-link:hover {
  opacity: .6;
}

@media (min-width: 768px) {
  .form {
    margin-top: 40px;
  }

  .form__submit {
    font-size: 14px;
    line-height: 17px;
  }

  .form__cta {
    font-size: 14px;
    line-height: 17px;
  }
}
