.heading-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #000000;
  padding-bottom: 28px;
  border-bottom: 1px solid #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .heading-section {
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 23px;
  }
}
