.app {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-default);
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-default);
  font-style: normal;
  line-height: normal;
  background-color: var(--bg-color-default);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
