.header-navigation_theme_dark {
  color: #ffffff;
}

.navigation__list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation__link {
  color: inherit;
  text-decoration: none;
  transition: opacity 1s;
}

.navigation__link:hover {
  opacity: .6;
}

.navigation__link_active {
  text-decoration: underline;
}
